name: ESPEI tests

on: [push, pull_request]

jobs:
# sphinx-build: Check that the documentation builds html with no warnings
  sphinx-build:
    name: Run sphinx-build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      # Development version for development docs
      - name: Install pycalphad development version
        run: pip install git+https://github.com/pycalphad/pycalphad.git@develop
      - run: pip install -e .[dev]
      - run: pip list
      # Build HTML and LaTeX docs
      # Treat all warnings as errors and "keep-going" to collect all warnings
      - name: Build HTML
        shell: bash
        run: |
          cd docs
          make SPHINXOPTS="-W --keep-going" html

# PyTest: Run automated tests with PyTest using both release and development versions of pycalphad
  PyTest-release:
    name: Test Python ${{ matrix.python-version }} - pycalphad release
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 100
      matrix:
        python-version: [3.7, 3.8, 3.9]
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0  # fetch the entire repo history, required to guarantee versioneer will pick up the tags
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - run: pip install --editable .[dev]
    - run: pip list
    - run: pytest -v

  PyTest-develop:
    name: Test Python ${{ matrix.python-version }} - pycalphad develop
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 100
      matrix:
        python-version: [3.7, 3.8, 3.9]
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0  # fetch the entire repo history, required to guarantee versioneer will pick up the tags
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install pycalphad development version
      run: pip install git+https://github.com/pycalphad/pycalphad.git@develop
    - run: pip install --editable .[dev]
    - run: pip list
    - run: pytest -v
