name: ESPEI tests

on: [push, pull_request]

jobs:

# twine-check: to determine that the source distribution would be valid on PyPI
  twine-check:
    name: Run twine check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - run: pip install twine
      - run: python setup.py sdist
      - run: twine check dist/*

# PyTest: Run automated tests with PyTest using both release and development versions of pycalphad
  PyTest:
    name: Test Python ${{ matrix.python-version }} - pycalphad dev version ${{ matrix.pycalphad_develop_version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 6
      matrix:
        python-version: [3.6, 3.7, 3.8]
        pycalphad_develop_version: [true, false]

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0  # fetch the entire repo history, required to guarantee versioneer will pick up the tags
    - uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        python-version: ${{ matrix.python-version }}
        environment-file: environment-dev.yml
    - name: Conda info
      # login shell should be used so conda activate runs
      shell: bash -l {0}
      run: conda info
    - name: Conda list
      shell: bash -l {0}
      run: conda list
    - name: Install pycalphad development version
      shell: bash -l {0}
      if: matrix.pycalphad_develop_version
      run: |
        conda remove --force pycalphad
        git clone https://github.com/pycalphad/pycalphad pycalphad-dev
        cd pycalphad-dev
        git checkout develop
        pip install --no-deps -e .
        cd ..
        python -c 'import pycalphad; print(f"pycalphad version: {pycalphad.__version__}")'
    - name: Test with pytest
      shell: bash -l {0}
      run: pytest -v --doctest-modules espei tests